@model Pharmacy_DAO.OrderDetail
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="GetOrderDetails" asp-route-id="@Model?.OrderDetailId">Update</a> |
    <a asp-action="Default">Back to List</a>
</div>

