@model Pharmacy_DAO.Login

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoginType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoginType)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="GetLoginDetails" asp-route-id="@Model?.LoginId">Update</a> |
    <a asp-action="Default">Back to List</a>
</div>